In this little assignment you are given a list of numbers, and have to return the highest and lowest number in a string separated by a single space.

Example:
high_and_low([1, 2, 3, 4, 5])  # return "5 1"
high_and_low([1, 2, -3, 4, 5]) # return "5 -3"
high_and_low([1, 9, 3, 4, -5) # return "9 -5"

All numbers are valid Int, no need to validate them.
There will always be at least one number in the input string.
Output string must be two numbers separated by a single space, and highest number is first.

In [9]:
def high_and_low(list1):
    return(max(list1)) , (min(list1))
    
list1 =[1, 9, 3, 4, -5] 
    
high_and_low(list1)

(9, -5)

In [10]:
print(type(high_and_low(list1)))

<class 'tuple'>